* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title {
  color: #610067;
  font-size: 36px;
  line-height: 46px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
}

.container .product-block {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 0 20px;
}
.container .product-block .product-block-top .product-block__image {
  margin-right: 90px;
  height: 300px;
}
.container .product-block .product-block-top .product-block__image img {
  height: 100%;
  width: 260px;
}
.container .product-block .product-block-top .description {
  margin: 20px 0;
}
.container .product-block .product-block-top .description .name {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}
.container .product-block .product-block-top .description .stars {
  padding-left: 20px;
}
.container .product-block .product-block-top .description .stars span {
  height: 0px;
  width: 40px;
  transform: scale(2);
}
.container .product-block .product-block-top .description .stars .checked {
  color: gold;
}
.container .product-block .product-block-top .description p {
  margin-bottom: 24px;
}
.container .product-block .product-block-top .description .product-logo {
  width: 100px;
  margin-bottom: 24px;
}
.container .product-block .product-block-text .product-information .info-title {
  margin: 15px 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.container .product-block .product-block-text .product-information .info-text {
  line-height: 24px;
  margin-bottom: 24px;
}
.container .product-block .product-block-text .product-information .infotmation__button {
  display: inline-block;
  padding: 15px 35px;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  background-color: #37ba85;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.container .product-block .product-block-text .pros-and-cons {
  line-height: 24px;
}
.container .product-block .product-block-text .pros-and-cons h4 {
  color: #222222;
  font-weight: 700;
  margin-bottom: 24px;
}
.container .product-block .product-block-text .pros-and-cons ul {
  padding-left: 17px;
}
.container .product-block .product-block-text .pros-and-cons .pros {
  padding: 10px 10px 30px;
  background-color: #ebfff2;
  margin-bottom: 30px;
}
.container .product-block .product-block-text .pros-and-cons .cons {
  padding: 10px 10px 30px;
  background-color: #ffedeb;
  margin-bottom: 30px;
}

.line {
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}

@media (min-width: 576px) {
  .main-title {
    overflow: hidden;
  }

  .main-title:before,
.main-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: #e4e4e4;
    border: solid #FFF;
    border-width: 0 20px;
  }

  .main-title:before {
    margin-left: -100%;
  }

  .main-title:after {
    margin-right: -100%;
  }
}
@media (min-width: 768px) {
  .container .product-block .product-block-top {
    display: flex;
  }
  .container .product-block .product-block-top .product-block__image img {
    width: 300px;
  }
  .container .product-block .product-block-text {
    display: flex;
  }
  .container .product-block .product-block-text .product-information {
    width: 100%;
    padding: 0 10px;
  }
  .container .product-block .product-block-text .pros-and-cons {
    width: 100%;
    padding: 0 10px;
  }
}