* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 25px 0 15px;
  margin: 0 auto;
}

.header {
  max-height: 79px;
  width: 100%;
  padding: 20px;
}
.header a {
  text-decoration: none;
}
.header a .logo {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-height: 79px;
}
.header .navigation {
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 280px;
  height: 100vh;
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
  color: #fff;
  background-color: #600066;
  transition: 0.5s all;
  z-index: 5;
}
.header .navigation a {
  text-decoration: none;
  color: #fff;
}
.header .navigation .navigation__item {
  list-style-type: none;
  padding: 10px;
}
.header .navigation_active {
  right: 0px;
}
.header .hamburger {
  display: block;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 20px;
  transition: 0.5s all;
}
.header .hamburger span {
  display: block;
  height: 2px;
  background-color: #222;
  margin-top: 4px;
  transition: 0.5s all;
}
.header .hamburger span:first-child {
  margin-top: 0;
}
.header .hamburger_active {
  right: 290px;
  transition: 0.5s all;
}
.header .hamburger_active span {
  margin-top: -4px;
  transition: 0.5s all;
}
.header .hamburger_active span:nth-child(1) {
  transform: rotate(-45deg);
}
.header .hamburger_active span:nth-child(2) {
  display: none;
}
.header .hamburger_active span:nth-child(3) {
  transform: rotate(45deg);
  margin-top: -2px;
}

@media (min-width: 576px) {
  .header {
    margin-bottom: 20px;
  }
  .header a .logo {
    max-height: 58px;
    max-width: 248px;
  }
}
@media (min-width: 768px) {
  .header {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .header a .logo {
    margin: 0;
  }
  .header .navigation {
    position: relative;
    right: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
  }
  .header .navigation ul {
    display: flex;
    flex-direction: row;
  }
  .header .navigation ul .navigation_purple {
    color: #600066;
  }
  .header .navigation a {
    text-decoration: none;
    color: black;
  }
  .header .hamburger {
    display: none;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 20px;
  }
  .header a .logo {
    width: 230px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-section {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: white;
}
.main-section .background {
  height: 250px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.main-section .grey-layer {
  position: relative;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.main-section .main-section__text {
  text-align: center;
  padding: 0 10px;
  z-index: 3;
}
.main-section .main-section__text .title {
  font-size: 32px;
  line-height: 46px;
  margin-top: 53px;
}
.main-section .main-section__text .subtitle {
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .main-section .background {
    height: 400px;
    right: -325px;
  }
  .main-section .grey-layer {
    background-color: rgba(0, 0, 0, 0);
    height: 400px;
  }
  .main-section .main-section__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .main-section .main-section__text .title {
    margin: 0;
    font-size: 72px;
    line-height: 78px;
  }
}
@media (min-width: 992px) {
  .main-section .background {
    right: -225px;
  }
}
@media (min-width: 1200px) {
  .main-section .background {
    right: -125px;
  }
}
@media (min-width: 1400px) {
  .main-section .background {
    width: 100%;
    right: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .before-after {
  margin-top: 50px;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 25.5px;
  font-weight: 400;
  color: #222222;
}
.container .before-after .before-after__text h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}
.container .before-after .before-after__text p {
  margin-bottom: 24px;
}
.container .before-after .before-after__photo {
  margin-top: 30px;
}
.container .before-after .before-after__photo img {
  width: 100%;
}
.container .before-after .before-after__photo p {
  text-align: center;
  padding: 10px 0;
}
.container .before-after .before-after__photo p a {
  text-decoration: none;
  color: #600066;
}

@media (min-width: 768px) {
  .container .before-after {
    display: flex;
  }
  .container .before-after .before-after__text {
    padding: 0 15px;
  }
  .container .before-after .before-after__photo {
    padding: 0 15px;
  }
  .container .before-after .before-after__photo img {
    height: 220px;
    width: auto;
  }
}
@media (min-width: 992px) {
  .container .before-after .before-after__photo img {
    height: 290px;
    width: auto;
  }
}